.search-book-title {
    font-size: 30px;
    font-weight: bold;
}

.search-book-author {
    font-size: 20px;
    font-weight: bold;
}

.search-book-desc {
    font-weight: bold;
    font-size: 14px;
}

.search-cards {
    margin-top: 30px;
}

.search-bar {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons-center {
    display: block;
    margin: auto;
    background-color: #424344 !important;
    border-color: white !important;
    border-radius: 6px !important;
    width: 80%;
    margin-bottom: 10px;
}