.navigation, .nav-item, .nav, .nav-tabs, .nav-link, .navbar {
    line-height: 47px;
    color: white;
    background-color: #3e4750;
  }
  
  .nav-link:hover {
    color: #b4c1ce;
    background-color: #5a6268;
  }

  .nav-tabs {
    font-size: 18px;
    text-align: center;
  }

  .align-right {
    margin-left: 30%;
  }

.nav-item, .dropdown, .drop-button {
    background-color: #3e4750 !important;
    border-color: #3e4750 !important;
    line-height: 50px !important;
  }

  .Search-field {
    vertical-align: baseline;
  }