* {
  background-color: #43484d;
  color: white;
}

/******Navigation Bar*******/
.navigation, .nav-item, .nav, .nav-tabs, .nav-link {
  line-height: 20px;
  color: white;
  background-color: #6c757d;
}

.nav-link:hover {
  color: #b4c1ce;
}

.nav-tabs {
  font-size: 18px;
  text-align: center;
}

.align-right {
  margin-left: 30%;
}

/******Homepage*******/

.main-post {
  height: 400px;
}

.side-post {
  height: 126px;
}