.navigation, .nav-item, .nav, .nav-tabs, .nav-link {
    line-height: 47px;
    color: white;
    background-color: #424344;
  }
  
  .nav-link:hover {
    color: #000000;
    background-color: #ffffff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
  }

  .nav-tabs {
    font-size: 18px;
    text-align: center;
  }

  .align-right {
    margin-left: 30%;
  }

.nav-item, .dropdown, .drop-button {
    line-height: 50px !important;
  }

  .Search-field {
    vertical-align: baseline;
  }